{% if article.share_post and article.status != 'draft' %}
<div class="social-share">
  <p id="post-share-links" style="font-size:75%">
    Like this article? Share it:
    <a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter">Twitter</a>
    •
    <a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook">Facebook</a>
    •
    <!-- <a href="{{article.share_post['diaspora']}}" target="_blank" title="Share on Diaspora">Diaspora</a> -->
    <!-- • -->
    <!-- <a href="{{article.share_post['linkedin']}}" target="_blank" title="Share on LinkedIn">LinkedIn</a> -->
    <!-- • -->
    <!-- <a href="{{article.share_post['hacker&#45;news']}}" target="_blank" title="Share on HackerNews">HackerNews</a> -->
    <!-- • -->
    <a href="{{article.share_post['email']}}" target="_blank" title="Share via Email">Email</a>
  </p>
</div>
{% elif ADD_THIS_ID %}
<div class="center social-share">
  <p>{{ _('Like this article? Share it with your friends!') }}</p>
  <div class="addthis_native_toolbox"></div>
  <div class="addthis_sharing_toolbox"></div>
  <div class="addthis_inline_share_toolbox"></div>
</div>
{% endif %}
