{% if USE_TALKYARD %}
<script>talkyardServerUrl='https://comments-for-outde-xyz.talkyard.net';</script>
<script async defer src="https://c1.ty-cdn.net/-/talkyard-comments.min.js"></script>
<!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
<div class="talkyard-comments" data-discussion-id="{{article.date|strftime('%Y-%m-%d')}}_{{article.slug}}" style="margin-top: 45px;">
<noscript>Please enable Javascript to view comments.</noscript>
    <div class="center social-share">
        <p style="margin-top: 25px; opacity: 0.9; font-size: 96%">Comments powered by
        <a href="https://www.talkyard.io">Talkyard</a>.
        Having trouble?
        Check the <a href="https://outde.xyz/faq.html">FAQ</a>!
        </p>
    </div>
</div>
{% endif %}
