{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags|escape }}" />
<meta name="keywords" content="{{ article.tags|join(', ')|escape }}">

{% include "partial/og_article.html" %}
{% endblock %}

{% block title %} &ndash; {{ article.title|striptags|escape }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    {% if not ARTICLE_HIDE_TRANSLATION %}
      {% import 'partial/translations.html' as translations with context %}
      {{ translations.translations_for(article) }}
    {% endif %}
    <h1 id="{{ article.slug }}">{{ article.title }}</h1>
    <p>
      {% if 'post_stats' in PLUGINS %}
        🕑 {{ article.stats['read_mins'] }} min
        &#8226; 
      {% endif %}

      {% if not SHOW_POST_AUTHOR %}
        {% set auth_str = '' %}
      {% else %}
        {% set auth_str = [] %}
        {% for auth in article.authors %}
          {{ auth_str.append('<a href="%s/%s">%s</a>'|format(SITEURL, auth.url, auth)|safe) or ''}}
        {% else %}
          {{ auth_str.append('<a href="%s/%s">%s</a>'|format(SITEURL, article.author.url, article.author)|safe) or ''}}
        {% endfor %}
        {% set auth_str = ' 👤 ' ~ auth_str|join(', ') %}
      {% endif %}
      {{ _('%(auth_str)s &#8226; 📆 %(when)s in %(category)s',
           auth_str=auth_str,
           when=article.locale_date,
           category='<a href="%s/%s">%s</a>'|format(SITEURL, article.category.url, article.category)|safe) }}

      {% if article.tags %}
          &#8226; {{ _('🏷') }}
          {% for tag in article.tags if tag != article.category %}
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
      {% endif %}
      </p>
    </div>
  </header>

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_top %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_top }}"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

  {% if article.toc %}
      <nav class="toc">
      {{ article.toc }}
      </nav>
  {% endif %}
  <div>
    {{ article.content }}
  </div>

  {% include "custom/share_post.html" %}

  {% if ADD_THIS_ID %}
  <div class="center social-share">
    <p>{{ _('Like this article? Share it with your friends!') }}</p>
    <div class="addthis_native_toolbox"></div>
    <div class="addthis_sharing_toolbox"></div>
    <div class="addthis_inline_share_toolbox"></div>
  </div>
  {% endif %}

  {% if article.related_posts %}
  <div class="center social-share">
    <h4>{{ _('You might also enjoy') }}</h4>
    <ul class="related-posts">
    {% for related_post in article.related_posts %}
      <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% elif ADD_THIS_ID %}
    <div class="addthis_relatedposts_inline"></div>
  {% endif %}

  {% include "partial/neighbors.html" %}
  {% include "custom/series.html" %}
  {% include "custom/utterances.html" %}
  {% include "custom/talkyard.html" %}

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_bottom %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_bottom }}"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

  {% include "partial/disqus.html" %}
</article>
{% endblock %}
